*.secrets.yaml
logs
browser-state-*.json
__pycache__
*_reports
.env
.venv
node_modules
*outputs
*output
.vscode
.cursor
.gemini
.claude-code
.agent
.pytest_cache
*.sqlite3
storage
reports
.mypy_cache
*/temp